@model AboutVM

@{
    ViewData["Title"] = "About";
}


<!-- Main star -->
<main>

    <section id="about-header-img">
        <div class="about-bg-img" style="background-image: url('./assets/images/about-page-bg-img.jpg')">
            <h1>ABOUT US</h1>
            <img src="~/assets/images/banner-on-logo.png" alt="">
        </div>
    </section>

    <section id="about-story">
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 about-big-img">
                    <img class="img-fluid" src="~/assets/images/@Model.Abouts.FirstOrDefault()?.Image" alt="">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="story-content">
                        <div class="story-title">
                            <h1>@Model.Abouts.FirstOrDefault()?.Title</h1>
                        </div>
                        <div class="story-logo">
                            <img src="~/assets/images/banner-on-logo.png" alt="">
                        </div>
                        <div class="story-desc">
                            <p>
                                @Model.Abouts.FirstOrDefault()?.Description
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </section>

    <section id="about-strategy">
        <div class="container my-5">
            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="strategy-content">
                        <div class="strategy-title">
                            <h1>
                                @Model.Abouts.LastOrDefault()?.Title
                            </h1>
                        </div>
                        <div class="strategy-logo">
                            <img src="~/assets/images/banner-on-logo.png" alt="">
                        </div>
                        <div class="strategy-desc">
                            <p>
                                @Model.Abouts.LastOrDefault()?.Description
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 about-big-img">
                    <img class="img-fluid" src="~/assets/images/@Model.Abouts.LastOrDefault()?.Image" alt="">
                </div>
            </div>
        </div>


    </section>

    <section id="our-success">
        <div class="container mt-5">
            <div class="col-lg-12">
                <div class="success-content">
                    <h4>@Model.HeaderBackgrounds.Where(h=>h.Id == 22).FirstOrDefault().Value</h4>
                    <h2> @Model.HeaderBackgrounds.Where(h=>h.Id == 23).FirstOrDefault().Value </h2>
                    <div class="arrival-img"> <img src="~/assets/images/slider-on-logo.png" alt=""> </div>
                </div>
            </div>

        </div>


    </section>

    <section id="successes">
        <div class="container mt-5">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slider1">

                        <div class="row">
                            <div class="col-lg-3 col-mg-3 col-sm-3">
                                <img src="~/assets/images/testimonials-img1.png" alt="">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <div class="successes-content">
                                    <div class="success-text">
                                        <p>
                                            “Tacimates nominati duo cu, unum munere id has. Lorem ipsum dolor sit
                                            amet,
                                            ea nec
                                            invidunt reprehendunt, enim viderer praesent ad vim. At cum esse
                                            putant.”
                                        </p>
                                    </div>
                                    <div class="author">
                                        <div class="author-name"><span>STELLA JANSON</span></div>
                                        <div class="author-job"><span> - COPYWRITER</span></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide slider2">
                        <div class="row">
                            <div class="col-lg-3 col-mg-3 col-sm-3">
                                <img src="~/assets/images/testimonials-img2.png" alt="">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <div class="successes-content">
                                    <div class="success-text">
                                        <p>
                                            “Lorem ipsum dolor sit amet dictum ante tempor eget faucibus et urna eu
                                            maecenas viverra aliquam lorem id tincidunt praesent et viverra massa
                                            non
                                            varius magna eget nibh vitae el.”
                                        </p>
                                    </div>
                                    <div class="author">
                                        <div class="author-name"><span>JANE LAWRENCE </span></div>
                                        <div class="author-job"><span> - ELLE DECOR</span></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide slider3">
                        <div class="row">
                            <div class="col-lg-3 col-mg-3 col-sm-3">
                                <img src="~/assets/images/testimonials-img3.png" alt="">
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <div class="successes-content">
                                    <div class="success-text">
                                        <p>
                                            “Lorem ipsum dolor sit amet dictum ante tempor eget faucibus et urna eu
                                            maecenas viverra aliquam lorem id tincidunt praesent et viverra massa
                                            non
                                            varius magna eget nibh vitae el.”
                                        </p>
                                    </div>
                                    <div class="author">
                                        <div class="author-name"><span>ALARA SILVA</span></div>
                                        <div class="author-job"><span> - INTERIOR DESIGNER</span></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </section>

</main>
<!-- Main end -->
@section Scripts{
    <script src="~/assets/js/about.js"></script>
}